ion-content {
  --background: #fff;
}

/* Estilos específicos para el componente */
.custom-toolbar {
  --background: #00243A;
  color: #FFF;
}

.custom-title {
  color: #FFF !important;
}

ion-button {
  --background: #00B1BF;
  --color: #FFF;
}

ion-button[color="danger"] {
  --background: #FFCF00;
  --color: #00243A;
}

ion-label {
  color: #FFF !important; /* Cambiamos el color de los labels a amarillo */
}

ion-icon {
  color: #FFCF00;
}

.info-card, .social-card, .horarios-card, .service-card, .about-card, .photo-card {
  margin: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #244356;
}

.custom-card-header {
  padding: 16px;
  background-color: #00243A;
  color: #FFF !important;
}

.custom-card-title, .custom-card-subtitle {
  font-size: 1.2em;
  font-weight: bold;
  color: #FFF !important;
  text-align: center;
}

.custom-card-content {
  padding: 16px;
  color: #FFF;
}

ion-item {
  --background: #244356;
  --color: #FFF;
  --inner-background: #244356;
  --inner-color: #FFF;
  --label-color: #FFCF00; /* Cambiamos el color de los labels a amarillo */
  --highlight-background: #FFCF00;
}

ion-select {
  --color: #FFF;
  --placeholder-color: #FFF;
}

ion-select-option {
  --color: #00243A;
}

ion-button:hover {
  filter: brightness(1.1);
}

.logo {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #00243A; /* Añadir borde del color del toolbar */
}

.book-button.custom-button {
  margin: 16px auto; /* Ajustar margen para que no sobresalga */
  width: calc(100% - 32px); /* Asegurar que el ancho sea consistente con otros componentes */
}


.chat-card {
  position: fixed;
  bottom: 70px; /* Deja espacio para el botón flotante */
  right: 10px;
  width: 90%;
  max-width: 400px;
  z-index: 1000;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  background-image: url('../../../assets/579b3134-6b60-4ba7-8a97-f7261ca6bc9c.jpeg'); /* Ruta de la imagen */
  background-size: cover; /* Cubre todo el fondo */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  background-position: center; /* Centra la imagen */
  border-radius: 10px; /* Bordes redondeados */
  color: black; /* Color del texto */
  overflow: hidden; /* Oculta el desbordamiento si lo hay */
  background-color: white; /* Fondo blanco para todo el chat */
}

.chat-card ion-card-content {
  // background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px; /* Bordes redondeados */
  padding: 10px; /* Espaciado interior */
}

.chat-card ion-card-title {
  color: black; /* Título del chat en negro */
}

.chat-card ion-label h3 {
  color: #fffcfe;
  font-weight: bold; /* Nombres en negrita */
  font-size: 14px; /* Tamaño de texto de los nombres */
}

.chat-card ion-label p {
  color: #f1f1f1; /* Mensaje en gris oscuro */
  font-size: 13px; /* Tamaño del texto del mensaje */
  margin: 4px 0; /* Espaciado entre mensajes */
}
