<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" style="color: #FFCF00;"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center custom-title">Crear y Ver Subastas</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="margin: 20px;">
    <ion-button (click)="toggleForm()" expand="block" shape="round">
      Crear Subasta
    </ion-button>
  </div>

  <ion-card *ngIf="showForm" class="custom-card">
    <ion-card-header class="custom-card-header">
      <ion-card-title class="custom-card-title">Formulario de Subasta</ion-card-title>
    </ion-card-header>
    <ion-card-content class="custom-card-content">
      <ion-item>
        <ion-label>Ciudad</ion-label>
        <ion-input
          [value]="selectedCityName"
          placeholder="Seleccione una ciudad"
          readonly
          (click)="toggleCityDropdown()"
        ></ion-input>
      </ion-item>

      <div *ngIf="isCityDropdownOpen" class="dropdown-container">
        <ion-searchbar
          [(ngModel)]="citySearchTerm"
          placeholder="Buscar ciudad..."
          (ionInput)="filterCities($event)"
        ></ion-searchbar>
        <ion-list>
          <ng-container *ngIf="filteredCities && filteredCities.length > 0; else noCities">
            <ion-item button *ngFor="let city of filteredCities" (click)="selectCity(city)">
              <ion-label>{{ city }}</ion-label>
            </ion-item>
          </ng-container>
          <ng-template #noCities>
            <ion-item>
              <ion-label>No hay ciudades disponibles</ion-label>
            </ion-item>
          </ng-template>
        </ion-list>
        <ion-button expand="full" (click)="toggleCityDropdown()">Cerrar</ion-button>
      </div>

      <ion-item>
        <ion-label>Precio Inicial</ion-label>
        <ion-input type="number" [(ngModel)]="auction.currentWinningPrice" name="initialPrice" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Fecha Inicial</ion-label>
        <ion-input type="date" [(ngModel)]="auction.createdAt" name="fechaInicio" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Fecha Final</ion-label>
        <ion-input type="date" [(ngModel)]="auction.endTime" name="fechaFin" required></ion-input>
      </ion-item>
      <div class="button-container">
        <ion-button (click)="createAuction()" expand="block" shape="round">
          Guardar Subasta
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Mostrar todas las subastas creadas -->
  <ion-list *ngIf="auctions.length > 0">
    <ion-card *ngFor="let auction of auctions" class="custom-card">
      <ion-card-header class="custom-card-header">
        <ion-card-title class="custom-card-title">{{ auction.city }}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="custom-card-content">
        <ion-item>
          <ion-label>Actual Monto Ganador:</ion-label>
          <p>{{ auction.currentWinningPrice | currency }}</p>
        </ion-item>
        <ion-item>
          <ion-label>Fecha Fin:</ion-label>
          <p>{{ formatDate(auction.endTime) }}</p>
        </ion-item>
        <ion-item>
          <ion-label>Fecha Inicio:</ion-label>
          <p>{{ formatDate(auction.createdAt) }}</p>
        </ion-item>


        <ion-item>
          <ion-label>Estado:</ion-label>
          <ion-select [(ngModel)]="auction.isActive" (ionChange)="onAuctionStatusChange(auction)">
            <ion-select-option [value]="true">Activa</ion-select-option>
            <ion-select-option [value]="false">Inactiva</ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Botón para abrir el modal -->
        <div class="button-container">
          <ion-button (click)="toggleAuctionModal(auction)">
            Ver detalles de la subasta
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>

<!-- Modal para mostrar detalles de subasta -->
<div class="custom-modal" *ngIf="showAuctionModal">
  <div class="custom-modal-content">
    <ion-card class="custom-card">
      <ion-card-header class="custom-card-header">
        <ion-card-title class="custom-card-title">{{ selectedAuction?.city }}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="custom-card-content">

        <!-- Mostrar información ya visible antes del modal -->
        <ion-item lines="full">
          <ion-label>Precio actual:</ion-label>
          <p>{{ selectedAuction?.currentWinningPrice | currency }}</p>
        </ion-item>
        <ion-item lines="full">
          <ion-label>Usuario ganador:</ion-label>
          <p>{{ selectedAuction?.winningUserName || 'Desconocido' }}</p>
        </ion-item>

        <ion-item>
          <ion-label>Fecha Inicio:</ion-label>
          <p>{{ formatDate(selectedAuction.createdAt) }}</p>
        </ion-item>

        <ion-item>
          <ion-label>Fecha Fin:</ion-label>
          <p>{{ formatDate(selectedAuction.endTime) }}</p>
        </ion-item>

        <ion-item lines="full">
          <ion-label>¿Subasta Terminada?:</ion-label>
          <p>{{ selectedAuction.isFinished ? 'Sí' : 'No'}}</p>
        </ion-item>
        <ion-item lines="full">
          <ion-label>¿Subasta Paga?:</ion-label>
          <p>{{ selectedAuction.isPaid ? 'Sí' : 'No' }}</p>
        </ion-item>
        <ion-item lines="full">
          <ion-label>¿Subasta Activa?:</ion-label>
          <p>{{ selectedAuction.isActive ? 'Sí' : 'No' }}</p>
        </ion-item>
      </ion-card-content>

      <!-- Botón para cerrar el modal -->
      <div class="button-container">
        <ion-button color="danger" (click)="toggleAuctionModal(null)">
          Cerrar
        </ion-button>
      </div>
    </ion-card>
  </div>
</div>
