ion-content {
  --background: #fff;
}

/* Estilos específicos para el componente */
.custom-toolbar {
  --background: #00243A;
  color: #FFF;
}

.custom-title {
  color: #FFF !important;
}

ion-button {
  --background: #00B1BF;
  --color: #FFF;
}

ion-button[color="danger"] {
  --background: #FFCF00;
  --color: #00243A;
}

ion-label {
  color: #FFF !important;
}

ion-icon {
  color: #FFCF00;
}

.custom-card {
  margin: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #244356;
}

.custom-card-header {
  background-color: #00243A;
  align-items: center;
}

.custom-card-title {
  font-size: 1.3em;
  color: #FFF;
}

.custom-card-content {
  padding: 16px;
  color: #FFF;
}

ion-item {
  --background: #244356;
  --color: #FFF;
  --inner-background: #244356;
  --inner-color: #FFF;
  --label-color: #FFCF00;
  --highlight-background: #FFCF00;
}

ion-select {
  --color: #FFF;
  --placeholder-color: #FFF;
}

ion-select-option {
  --color: #00243A;
}

ion-button:hover {
  filter: brightness(1.1);
}

.logo {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}


.custom-modal {
  position: fixed;  /* Fija el modal en la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);  /* Fondo oscuro semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;  /* Asegúrate de que esté por encima de otros elementos */
}

.custom-modal-content {
  background-color: transparent;  /* Color del contenido del modal */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
