<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" style="color: #FFCF00;"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center custom-title">Buscar Servicio</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card class="filter-card">
    <ion-card-content>
      <ion-searchbar [(ngModel)]="searchTerm" placeholder="Buscar servicios..." (ionInput)="filterServices($event)"></ion-searchbar>

      <!-- Botón para abrir el desplegable de categorías -->
      <ion-item class="custom-item" (click)="toggleDropdown()">
        <ion-label class="custom-label">Categoría:</ion-label>
        <ion-input [value]="selectedCategoryName" placeholder="Seleccione una categoría" readonly></ion-input>
      </ion-item>

      <!-- Contenedor del desplegable de categorías -->
      <div *ngIf="isDropdownOpen" class="dropdown-container">
        <ion-searchbar [(ngModel)]="categorySearchTerm" placeholder="Buscar categoría..." (ionInput)="filterCategories($event)"></ion-searchbar>
        <ion-list>
          <ng-container *ngIf="filteredCategories && filteredCategories.length > 0; else noCategories">
            <ion-item button *ngFor="let category of filteredCategories" (click)="selectCategory(category)">
              <ion-label>{{ category.nombre }}</ion-label>
            </ion-item>
          </ng-container>
          <ng-template #noCategories>
            <ion-item>
              <ion-label>No hay categorías disponibles</ion-label>
            </ion-item>
          </ng-template>
        </ion-list>
        <ion-button expand="full" (click)="toggleDropdown()">Cerrar</ion-button>
      </div>

      <!-- Botón para abrir el desplegable de ciudades -->
      <ion-item class="custom-item" (click)="toggleCityDropdown()">
        <ion-label class="custom-label">Ciudad:</ion-label>
        <ion-input [value]="selectedCityName" placeholder="Seleccione una ciudad" readonly></ion-input>
      </ion-item>

      <!-- Contenedor del desplegable de ciudades -->
      <div *ngIf="isCityDropdownOpen" class="dropdown-container">
        <ion-searchbar [(ngModel)]="citySearchTerm" placeholder="Buscar ciudad..." (ionInput)="filterCities($event)"></ion-searchbar>
        <ion-list>
          <ng-container *ngIf="filteredCities && filteredCities.length > 0; else noCities">
            <ion-item button *ngFor="let city of filteredCities" (click)="selectCity(city)">
              <ion-label>{{ city }}</ion-label>
            </ion-item>
          </ng-container>
          <ng-template #noCities>
            <ion-item>
              <ion-label>No hay ciudades disponibles</ion-label>
            </ion-item>
          </ng-template>
        </ion-list>
        <ion-button expand="full" (click)="toggleCityDropdown()">Cerrar</ion-button>
      </div>

      <!-- Botón para limpiar filtros -->
      <ion-button expand="block" (click)="clearFilters()" class="clear-filters-button">
        Limpiar Filtros
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-list *ngIf="pagedServices.length > 0; else noServices">
    <ng-container *ngFor="let page of pagedServices[currentPage]">
      <ion-card class="service-card" (click)="goToService(page.id)">
        <ion-card-content class="custom-card-content">
          <div class="image-container">
            <ion-avatar>
              <img [src]="page.imageUrl" alt="{{page.nombreEmpresa}}" />
            </ion-avatar>
          </div>
          <div class="details-container">
            <h2 class="service-title">{{ page.nombreEmpresa }}</h2>
            <p class="service-price">{{ page.price | currency }}</p>
            <p class="service-info">{{ page.servicio }}</p>
            <p class="service-description">{{ page.description }}</p>
          </div>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ion-list>

  <div *ngIf="pagedServices.length > 1" class="pagination-controls">
    <div class="page-info">
      Página {{ currentPage + 1 }} de {{ pagedServices.length }}
    </div>
    <div class="pagination-buttons">
      <ion-button (click)="previousPage()" [disabled]="currentPage === 0" class="custom-button">
        Anterior
      </ion-button>
      <ion-button (click)="nextPage()" [disabled]="currentPage >= pagedServices.length - 1" class="custom-button">
        Siguiente
      </ion-button>
    </div>
  </div>

  <ng-template #noServices>
    <div class="no-services">
      <p>No hay servicios disponibles</p>
    </div>
  </ng-template>
</ion-content>
