ion-content {
  --background: #fff;
}

.custom-toolbar {
  --background: #00243A;
  color: #FFF;
}

.custom-title {
  color: #FFF !important;
}

ion-button {
  --background: #00B1BF;
  --color: #FFF;
}

ion-button[color="danger"] {
  --background: #FFCF00;
  --color: #00243A;
}

ion-label {
  color: #FFF !important;
}

ion-icon {
  color: #FFCF00;
}

ion-input {
  width: 100%; /* Asegura que el input también ocupe todo el ancho */
}

.custom-card {
  margin: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #244356;
}

.custom-card-header {
  background-color: #00243A;
}

.custom-card-title {
  font-size: 1.3em;
  color: #FFF;
}

.custom-card-content {
  display: flex;
  color: #FFF;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

ion-item {
  width: 100%;
  --background: #244356;
  --color: #FFF;
  --inner-background: #244356;
  --inner-color: #FFF;
  --label-color: #FFCF00;
  --highlight-background: #FFCF00;
}

.winning-user {
  background-color: #20e44d; /* Verde claro */
  border: 1px solid #c3e6cb; /* Borde verde */
}

.current-winner {
  background-color: #5CEB7D; /* Verde más claro para el actual ganador */
}

.current-winner-message {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: #155724;
  background-color: #d4edda;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.paid {
  color: #28a745; /* Verde pagado */
}

.unpaid {
  color: #dc3545; /* Rojo no pagado */
}

.winner-message {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0;
}

.payment-button {
  --background: #00B1BF;
  --color: #FFF;
  margin-top: 10px;
}

.payment-button:hover {
  filter: brightness(1.1);
}

.auction-info-wrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%; /* Asegura que los elementos ocupen todo el ancho */
}

.auction-info {
  width: 100%; /* Forzar a que cada item ocupe el 100% del ancho */
  margin-bottom: 10px; /* Espaciado entre los items */
}
